<!doctype html>
<html lang='en'>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Api - First Snacks</title>
<link href='./assets/css/style.css' rel='stylesheet'>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body>
<div id='app'>

<h1>API Tests</h1>
<p>Stampo la stringa random: {{randomSentence}}</p><br>
<p>Stampo l'intero random: {{randomNumber}}</p><br>

<!--Email List-->
<p>Stampo una lista di 10 email:</p>
<!--Stampa una mail alla volta-->
<ul>
    <li v-for="(mail,index) in myEmailList">{{mail}}</li>
</ul>

<!--Stampa la lista tutta in una volta-->
<ul>
    <li v-for="mail in myEmailListBonus">{{mail}}</li>
</ul>
</div>


<!-- Development only cdn, disable in production -->
<script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
<script src='./assets/js/app.js'></script>
</body>
</html>